.nav {
  display: flex;
  max-width: var(--global-width);
  height: var(--navbar-height);
  justify-content: space-between;
  margin: 0 auto;
}
.nav ul {
  margin-block-start: 0rem;
  padding-inline-start: 0rem;
}
.nav li {
  list-style: none;
  display: inline-block;
  align-items: center;
  margin: 3px;
}

.nav ul.right {
  justify-content: end;
}
