:root {
  --white: #ffffff;
  --black: #14171a;
  --yellow: #b58900;
  --orange: #cb4c15;
  --red: #dd322f;
  --magenta: #d33781;
  --violet: #6c71c3;
  --dark-black: #000000;
  --blue: #258bd1;
  --cyan: #29a198;
  --green: #869901;
  --light-blue: #1b95e0;
  --dark-grey: #657786;
  --light-grey: #2f3336;
  --extra-light-grey: #e1e8ed;
  --extra-extra-light-grey: #f5f8fa;

  --solarised-dark-blue1: #012a36;
  --solarised-dark-blue2: #083542;
  --solarised-dark-content1: #083542;
  --solarised-dark-content2: #657a83;
  --solarised-light-content1: #93a1a1;
  --solarised-light-content1: #839396;

  --global-rem: 10px;
  --global-width: 1200px;
  --navbar-height: 3rem;
  --footer-height: 3rem;
}
@media (max-width: 70rem) {
  :root {
    --global-width: 90vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-primary: var(--white);
    --background-secondary: var(--dark-grey);
    --color-primary: var(--black);
    --border-color: var(--black);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* all your styles for dark mode here */
    --background-primary: var(--dark-black);
    --background-secondary: var(--midnight-blue);
    --color-primary: var(--white);
    --border-color: var(--dark-grey);
  }
}

body.solarised-dark {
    /* all your styles for dark mode here */
    --background-primary: var(--solarised-dark-blue1);
    --background-secondary: var(--solarised-dark-content1);
    --color-primary: var(--solarised-dark-content2);
    --color-highlight: var(--blue);
    --border-color: var(--solarised-dark-blue2);
}

html,
body {
  font-size: var(--global-rem);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-primary);
}
body > div {
  background: var(--background-primary);
}

* {
  box-sizing: border-box;
}
body main {
  max-width: calc(var(--global-width) * 0.8);
  min-height: calc(100vh - 1px - var(--navbar-height) - var(--footer-height));
  font-size: 1.6rem;
}

footer {
  height: var(--footer-height);
  font-size: 1.5rem;
}
nav {
  height: var(--navbar-height);
  font-size: 1.5rem;
}
[class^='ri-']::before,
[class*=' ri-']::before {
  vertical-align: -15%;
  padding: 0 5px 0 0;
  color: inherit;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 150px;
}

.card:hover,
.card:focus,
.card:active {
  text-decoration: underline;
  border-color: var(--light-blue);
  color: var(--blue);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--color-highlight);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
